<h2 class="page-header">Editar imagen</h2>
<form method="post" action="/edit/{{imagen.id}}">
  <div class="form-group">
    <label>Título</label>
    <input type="text" class="form-control" name="titulo" value="{{imagen.titulo}}">
  </div>
  <div class="form-group">
    <label>Descripción</label>
    <textarea class="form-control" name="descripcion" >{{imagen.descripcion}}</textarea>
  </div>
  <div>
    <label>Cambiar imagen</label>
    <input type="file" name="imagen" >
  </div>
  <div class="form-group">
    {{#ifCond imagen.privado "true"}}
      <label><input type="checkbox" class="" name="privado" checked> Privado</label>
    {{else}}
      <label><input type="checkbox" class="" name="privado" > Privado</label>
    {{/ifCond}}
  </div>
  <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
<h2 class="page-header">Eliminar imagen</h2>
<form method="post" action="/delete/{{imagen.id}}?_method=delete">
  <button type="submit" class="btn btn-danger btn-lg btn-block">Eliminar publicacion</button>
</form>
